{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container mx-auto p-4 flex">
  <div>
    {% if product.image %}
      <img class="w-32 h-32 sm:w-44 sm:h-44 md:w-48 md:h-48 object-cover" src="{{ product.image.url }}" alt="{{ product.name }}">
    {% else %}
    <p>The image is not available</p>
    {% endif %}
    <h3 class="font-semibold text-lg mt-4">{{ product.name }}</h3>
    <p class="text-sm text-gray-600">{{ product.description }}</p>
    <p class="text-indigo-600 font-bold mt-2">KES {{ product.price }}</p>

    <form action="{% url 'cart:cart_add' product.id %}" method="post" id="add-to-cart-form">
      {% csrf_token %}
      <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700">Add to cart</button>
    <p class="mt-2 text-sm text-green-500" id="message"></p>
    </form>
  </div>
</div>

<script>
  document.getElementById('add-to-cart-form').addEventListener("submit", function(event){
    event.preventDefault();
    
    const form = event.target;
    const url = form.action;
    const formData = new FormData(form);
    
    fetch(url, {
      method: 'POST',
      headers: {
        'X-CSRFToken':formData.get('csrfmiddlewaretoken')
        },
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      const messageElement = document.getElementById('message');
      if (data.success) {
        messageElement.textContent = data.message;
      } else {
        messageElement.textContent = "Failed to add to cart";
      }
    })
    .catch(error => {
      console.error("Error", error)
    });
  });
</script>
{% endblock %}
